---
published: false
---
@import "css/base.scss";

$box-width: 20em;
$box-margin: 0.3em;
$box-height: 20em;
$border-size: 0.4em;

@mixin rounded-corners( $radius )
{
	border-radius: $radius;
	-moz-border-radius: $radius;
}

header {
	text-align:center;
}

h3 {
	font-family: monaco, courier, monospace;
	font-size: 14pt;
	margin: 0pt;
	padding: 0.5em;
	text-align: center;
}

.content {
	margin: 0 auto;
	width: $box-width*2+$box-margin*4+$border-size*4;
}
.box-content {
	margin: 0.5em;
}
.related {
	@extend .light;
	@include rounded-corners( $border-size*2 );
	float: left;
	margin: 0 auto;
	width: $box-width;
	height: $box-height;
	margin: $box-margin;
}
.one   {border: $green solid $border-size;}
.two   {border: $blue solid $border-size;}
.three {border: $red solid $border-size;}
.four  {border: $yellow solid $border-size;}