---
published: false
---
;
@import "css/base.scss";
@import "css/syntax.scss";

$box-width: 20em;
$box-margin: 0.3em;
$box-height: 20em;
$border-size: 0.4em;

@mixin rounded-corners( $radius )
{
	border-radius: $radius;
	-moz-border-radius: $radius;
}
@mixin colorBorder( $color ){
	border: $color solid $border-size;
}
@mixin linkcolor( $color ){
	color: $color;
	a:link { color:$color; }
	a:visited { color:$color; }
	a:hover { color:$red; }
	a:active {color:$orange; }
}
body {
	font-family: palatino, garamond, times, serif;
	a {text-decoration: none;}
	a:link { color:$blue; }
	a:visited { color:$violet; }
	a:hover { color:$red; }
	a:active {color:$orange; }
}
header {
	font-family: courier, monospace;
	text-align:center;
	span.domain{ @include linkcolor( $green ); }
	span.prompt {color: $red;}
	span.locale {@include linkcolor( $magenta );}
}
footer {
	clear: both;
	font-size: 7.5pt;
	text-align: center;
	
}
h3 {
	color: $green;
	font-size: 14pt;
	margin: 0pt;
	padding: 0.5em;
	text-align: center;
}
.textart {
	font-size: 48pt;
	text-align: center;
	margin: 1em auto;
}
.hoverTitle {
	color: #F0F0F0;
}
.related:hover {
	@include colorBorder($green);
}
.content {
	margin: 0 auto;
	width: $box-width*2+$box-margin*4+$border-size*4;
}
.box-content {
	margin: 0.5em;
}
.related {
	//@extend .light;
	@include colorBorder($blue);
	@include rounded-corners( $border-size*2 );
	float: left;
	margin: 0 auto;
	width: $box-width;
	height: $box-height;
	margin: $box-margin;
	ul {
		list-style-type: none;
		font-size: 11pt;
	}
}
#post {
	@include colorBorder($blue);
	@include rounded-corners( $border-size*2 );
	h1 { color:$orange; margin-top:0; }
	p.date { 
		margin-bottom: 2pt; 
		margin-left: 1em;
		font-size: 10pt;
	}
	padding: 1em 2em;
	blockquote { 
		margin-left: 1em;
		padding-left: 1em;
		border-left: $border-size solid $orange;
	}
}