---
published: false
---
;
@import "css/base.scss";
@import "css/syntax.scss";

$box-width: 20em;
$box-margin: 0.3em;
$box-height: 20em;
$border-size: 0.4em;

@mixin rounded-corners( $radius )
{
	border-radius: $radius;
	-moz-border-radius: $radius;
}
@mixin colorBorder( $color ){
	border: $color solid $border-size;
}

html {
	font-family: monaco, courier, monospace;
}

header {
	text-align:center;
	span.domain {
		color: $green;
	}
	span.prompt {
		color: $red;
	}
}
ul {list-style-type: none;}
h3 {
	color: $green;
	font-size: 14pt;
	margin: 0pt;
	padding: 0.5em;
	text-align: center;
}
.hoverTitle {
	color: #F0F0F0;
}
.hoverBorder {
	@include colorBorder($green);
}
.hoverNoBorder {
	@include colorBorder($blue);
}
.content {
	margin: 0 auto;
	width: $box-width*2+$box-margin*4+$border-size*4;
}
.box-content {
	margin: 0.5em;
}
.related {
	//@extend .light;
	@include rounded-corners( $border-size*2 );
	float: left;
	margin: 0 auto;
	width: $box-width;
	height: $box-height;
	margin: $box-margin;
}
