/* light is default mode, so pair with general html definition */
html, .light {
  background-color: #fdf6e3;
  color: #657b83; }
  html *, .light * {
    color: #657b83; }
  html h1, html h2, html h3, html h4, html h5, html h6, .light h1, .light h2, .light h3, .light h4, .light h5, .light h6 {
    color: #586e75;
    border-color: #657b83; }
  html a, html a:active, html a:visited, .light a, .light a:active, .light a:visited {
    color: #586e75; }

.dark, .related {
  background-color: #002b36;
  color: #839496; }
  .dark *, .related * {
    color: #839496; }
  .dark h1, .related h1, .dark h2, .related h2, .dark h3, .related h3, .dark h4, .related h4, .dark h5, .related h5, .dark h6, .related h6 {
    color: #93a1a1;
    border-color: #839496; }
  .dark a, .related a, .dark a:active, .related a:active, .dark a:visited, .related a:visited {
    color: #93a1a1; }

html * {
  color-profile: sRGB;
  rendering-intent: auto;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter; }

code {
  font-family: monaco, courier, monospace; }

header {
  text-align: center; }

h3 {
  font-family: monaco, courier, monospace;
  font-size: 14pt;
  color: #b58900;
  margin-top: 0pt;
  padding: 0.5em;
  text-align: center;
  border-bottom: solid 0.2em; }

pre {
  font-family: monaco, courier, monospace; }

.content {
  margin: 0 auto;
  width: 63em; }

.box-content {
  margin: 0.5em; }

.related {
  float: left;
  margin: 0 auto;
  width: 20em;
  height: 20em;
  margin: 0.3em; }

.one {
  border: #859900 solid 0.2em; }

.two {
  border: #268bd2 solid 0.2em; }

.three {
  border: #dc322f solid 0.2em; }
