<!DOCTYPE html>
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html;charset=utf-8" charset="utf-8">
 <meta name="description" content="{{ resume.Name }} Resume, Updated {{ publish_date }}">
 <meta name="keywords" content="jon, wedaman, resume, jweede">
 <link rel="stylesheet" href="/css/resume.css">
 <script type="text/javascript">
 </script>
 <title>Resume: {{ resume.Name }}</title>
</head>
<body>

<div id="pageContainer">

<div class="resumeHeader">
    <h1>{{ resume.Name }}</h1>
    <p class="contactInfo"><a href="mailto:{{ resume.Email }}" style="color:#777;">{{ resume.Email_human }}</a></p>
    <p class="contactInfo">{{ resume.Phone }}</p>
</div>
<div class="resumeBody">

<h2>Experience</h2>
{% for exp in resume.Experience -%}
<p class="expSecHead">{{ exp.Company }} - {{ exp.Locale }} &nbsp;({{ exp.Dates }})</p>
<p class="expSecTitle">{{ exp.Title }}</p>
<p class="expSecDesc">{{ exp.Desc }}</p>
{% endfor -%}

<h2>Education</h2>
{% for edu in resume.Education -%}
<p>{{ edu.Name }}. {{ edu.Locale }}.</p>
<p>{{ edu.Dept }}</p>
<p>{{ edu.Degree }}. {{ edu.Year }}.</p>
<p>&nbsp;&nbsp;</p>
{% endfor -%}

<h2>Skills</h2>
{% for skill in resume.Skills -%}
<p><i>{{ skill.name }}</i>: {{ skill.list | join(", ") }}</p>
{% endfor -%}
<p>&nbsp;&nbsp;</p>

{% if resume.Activities -%}
<h2>Activities</h2>
{% for activity in resume.Activities -%}
<p>{{ activity }}</p>
{% endfor -%}
<p>&nbsp;&nbsp;</p>
{% endif -%}

</div>

<p class="selfLink">Latest: <a href="http://wedaman.com/resume/">http://wedaman.com/resume/</a></p>

</div>

</body>
</html>
